*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.joinme{
    color: red;
    text-transform: capitalize;
    font-weight: 400;
    background: #000;
}

.data{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 20px;
}
.lorem{
    line-height: 40px;
    text-decoration: dashed;
    font-style: italic;
    background-color: rgba(183, 156, 156, 0.7);
}
.app{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}
/* #cybrom{
    height: 200px;
    width: 100%;
    background: green;
} */